.viewer-container {
  border: 2px solid rgb(4, 32, 83);
  border-radius: 15px;
  max-width: 600px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  touch-action: none;
  user-select: none; /* Prevent text selection */
  -webkit-user-drag: none; /* Prevent image dragging in WebKit browsers */
}

.viewer-image {
  width: 100%;
  pointer-events: none;
  user-select: none; /* Prevent text selection */
  -webkit-user-drag: none; /* Prevent image dragging in WebKit browsers */
}
